.container{
	width:1330px;
	border:1px solid black;
	margin: 0 auto;
	background-color: #E6E6FA;
	
	}
.header{
	border: 1px solid black;
	padding:10px;
	text-align: center;
	background-color: #2F537F;
	color: white;

}
.menu{
	/*border: 1px solid black;*/
	width:200px;
	float:left;
	background-color: #E6E6FA;

	
}
.menu input{
	margin-left: 5px;
	margin-bottom: 5px;
}
.menu li:hover{
	background-color: #CACED3;
}
.content{
	/*border: 1px solid black;*/
	width:1126px;
	float:left;
	text-align: center;
	background-color: #E9EBEE;
}

.toplist{
	/*border: 1px solid black;*/
	background-color: #ffffff;
	text-align: left;
	padding-left: 20px;
	/*padding-top: 20px*/;

	width: 1000px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 17px;
	border-radius: 15px;
}
.toplist h2:hover{
	background-color: #CACED3;
}
.toplist a:hover{
	background-color: #CACED3;
}
.feedback{
	background-color: #ffffff;
	padding-left: 20px;
	width: 400px;
	margin: 0 auto;
	font-size: 17px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 15px;
}
.footer{
	border: 1px solid black;
	background-color: #2F537F;
	text-align:center;
	color:white;
}
.clearfix{
	clear: both;
}
.menu a{
	text-decoration: none;
	color: #46758A;
}
.toplist a{
	text-decoration: none;
	color: #2F537F;
}
li{
	list-style:none;
}
.active{
	font-weight:bold;
}
.required{
	color:red;
}
.fresh_news{
	padding:5px;
}
.fresh_news li :hover{
	background-color: #CACED3;
	
}